<%- include('partials/header') %>
<%- include('partials/nav-2') %>
<%- include('partials/back') %>

<h1 class="c-w text-center c-p t-s-w mt-5 pt-5">Yours Secrets</h1>

<% const cardClassNames = ['bg-primary', 'bg-secondary', 'bg-success', 'bg-info', 'bg-warning', 'bg-danger','bg-dark']; %>
<% index=0%>
<div class="row justify-content-around p-5">
    <%postno=0%>
    <% secrets.forEach(function(secret){ %>
  <div class="card text-white <%= cardClassNames[index % cardClassNames.length] %> m-5 col-4" style="max-width: 18rem;">
    <div class="card-header">#Secret <%=index+1%></div>
    <div class="card-body">
      <p class="card-text"><%=secret.substring(0,200)%>
      <%if(secret.length>200){%>
        ...</p>
        <a href="/secrets/<%=userid%>/<%=postno%>" class="card-link text-light">Read More &rarr;</a>
      <%}%>
      <%if(secret.length<=200){%>
        </p>
      <%}%>
    </div>
  </div>
  <% postno++%>
  <%index++%>
  <% }) %>
<%if(secrets.length===0){%>
<h1 class="text-center text-warning">Nothing to Preview...</h1>
<%}%>
</div>
<%- include('partials/below-footer') %>
<%- include('partials/footer') %>
